*{
  font-family:Calibri,Arial;
}
body{
  margin:0px;
  padding:0px;
  text-align:center;
  background:url('lite-noise2.png');
}
#title{
  padding-top:100px;
}
#title span{
  font-size:90px;
  color:#222;
  text-shadow:#fff 1px 1px 2px;
  font-weight:bolder;
  text-transform:lowercase;
}

#result a,
#result a:visited,
#result a:active,
#result a:link,
#result a:hover{
  text-decoration:underscore;
  color:#44bdfb;
  text-shadow:#000 1px 1px 2px;
}
#result{
  min-width:900px;
  display:none;
  padding-top:10px;
  font-size:28px;
  color:#fff;
  text-shadow:#000 -1px -1px 1px;
}
#controls{
  width:500px;
  margin:0px auto;
  background-color:#fff;
  height:50px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -moz-box-shadow:inset 0px 0px 2px #000;
  -webkit-box-shadow:inset 0px 0px 2px #000;
  box-shadow:inset 0px 0px 2px #000;
}
#controls input{
  font-size:26px;
  width:300px;
  padding:4px;
  height:42px;
  float:left;
  border:0px;
  margin-left:2px;
  background:transparent;
  font-family:courier;
  color:#222;
  text-shadow:#fff 1px 1px 2px;
  outline:0px;
}
#validate{
  margin:2px;
  border:1px solid #aaa;
  width:180px;
  float:right;
  font-size:22px;
  background: rgb(242,242,242);
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(224,224,224,1)));
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%);
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%);
  background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e0e0e0',GradientType=0 );
  background: linear-gradient(top, rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%);
  height:46px;
  color:#444;
  text-shadow:#fff 1px 1px 2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  cursor:pointer;
}
#validate:hover{
  border-color:#222;
}
#imei_bar_wrapper{
  position:absolute;
  top:300px;
  width:100%;
  left:0px;
  right:0px;
  height:120px;
  overflow:hidden;
}
#imei_bar{
  padding-top:20px;
  text-align:center;
  height:70px;
  border-top:2px solid #000;
  background: rgb(68,68,68);
  background: -moz-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(34,34,34,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,68,68,1)), color-stop(100%,rgba(34,34,34,1)));
  background: -webkit-linear-gradient(top, rgba(68,68,68,1) 0%,rgba(34,34,34,1) 100%);
  background: -o-linear-gradient(top, rgba(68,68,68,1) 0%,rgba(34,34,34,1) 100%);
  background: -ms-linear-gradient(top, rgba(68,68,68,1) 0%,rgba(34,34,34,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 );
  background: linear-gradient(top, rgba(68,68,68,1) 0%,rgba(34,34,34,1) 100%);
  -moz-box-shadow:0px 1px 1px #fff;
  -webkit-box-shadow:0px 1px 1px #fff;
  box-shadow:0px 1px 1px #fff;
}

/**
* logo
*/
#logo{
  position:absolute;
  bottom:10px;
  left:10px;
  cursor:pointer;
  border:0px;
}
/**
* tip
*/
#tip-wrapper{
  position:absolute;
  bottom:10px;
  left:300px;
  cursor:default;
}
#tip-arrow{
  width:0px;
  height:0px;
  border-style:solid;
  border-width:30px 30px 0px 0px;
  border-color:transparent #44bdfb transparent transparent;
  margin-left:4px;
  margin-top:50px;
  position:absolute;
  z-index:1;
}
#tip-arrow-border{
  width:0px;
  height:0px;
  border-style:solid;
  border-width:34px 34px 34px 0px;
  border-color:transparent #000 transparent transparent;
  margin-left:0px;
  margin-top:46px;
  position:absolute;
  z-index:0;
}
#tip-body{
  text-align:left;
  margin-top:0px;
  margin-left:30px;
  background-color:#44bdfb;
  padding:20px;
  font-size:22px;
  font-family:arial;
  width:300px;
  border:4px solid #000;
}